# Connectivity Verification

## Purpose
Verify that all lab machines can communicate with each other before starting penetration testing exercises.

## Steps Performed
1. Ping from Windows to Kali Linux
2. Ping from Kali Linux to Windows
3. Identify and fix ICMP firewall restrictions

## Outcome
Bidirectional connectivity was successfully established.

## Screenshots
1-<img width="661" height="203" alt="W ping K" src="https://github.com/user-attachments/assets/6b2203d1-f272-4ea3-a8c5-33143db4dad8" />

2-<img width="716" height="195" alt="K ping W" src="https://github.com/user-attachments/assets/ca9bf05e-36c8-4786-a46a-974952a98302" />

3-<img width="952" height="461" alt="FW rules" src="https://github.com/user-attachments/assets/be90cd15-7dbd-4b8b-8517-c7aa4f4e06c2" />
